@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #141c2f;
}

body * {
  color: #d6d6d6;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.light {
  background-color: #d6d6d6;
}

.light .logo {
  color: black;
}

.light .fa-adjust {
  color: black;
}

.light i {
  color: #d6d6d6;
}

.light .search {
  color: #141c2f;
}

.userSearch {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-radius: 10px;
  background-color: #1f2a48;
  border: none;
  font-size: 20px;
  color: white;
}

.userSearch::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
  font-size: 15px;
}

.userSearch:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
  font-size: 15px;
}

.userSearch::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
  font-size: 15px;
}

.userSearch::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
  font-size: 15px;
}

.content-body {
  width: 100%;
  max-width: 804px;
  margin: auto;
  padding: 0 2px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 2rem;
}

nav button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  nav button {
    margin-bottom: 20px;
  }
}

nav .clicked-theme {
  -webkit-animation: rotate 1s linear;
          animation: rotate 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

nav .clicked-theme-again {
  -webkit-animation: rotate 1s linear;
          animation: rotate 1s linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.search-block {
  border-radius: 10px;
  padding: 10px 20px;
  margin: auto;
  background-color: #1f2a48;
}

.fa-search {
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .fa-search {
    display: none;
  }
}

.searchBox {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .searchBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

input:focus {
  outline: none;
}

.userSearch {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-radius: 10px;
  background-color: #1f2a48;
  border: none;
  font-size: 20px;
}

@media (max-width: 600px) {
  .userSearch {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
}

.userSearch::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
}

.userSearch:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
}

.userSearch::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
}

.userSearch::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  /* Firefox */
}

@media (max-width: 600px) {
  .userSearch::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .userSearch:-ms-input-placeholder {
    font-size: 1rem;
  }
  .userSearch::-ms-input-placeholder {
    font-size: 1rem;
  }
  .userSearch::placeholder {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .userSearch {
    font-size: 1rem;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
  }
}

.btn-search {
  width: 100px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #0778f6;
}

@media (max-width: 600px) {
  .btn-search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 70%;
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
  }
}

.Error_Page,
.Content_Page {
  background-color: #1f2a48;
  margin-top: 5vh;
  height: 30vh;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .Error_Page,
  .Content_Page {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.withData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .withData {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.col-1 .userPicture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: none;
}

.col-2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.data-row-one {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .data-row-one {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.data-row-one .row-one-box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-row-one h2,
.data-row-one p {
  margin: 0;
}

.twitterHandle {
  color: #9292c9;
  font-weight: 500;
}

.row-one-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joined {
  color: grey;
  font-weight: 600;
}

.withData {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.data-row-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  color: grey;
}

@media (max-width: 600px) {
  .data-row-two {
    text-align: center;
  }
}

.data-row-three {
  margin: 10px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #141c2f;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .data-row-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h4,
.card h2 {
  margin: 0;
  color: gray;
}

.card h2 {
  color: #b9b9b9;
}

.row-four-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-result-end {
  font-size: 20px;
  margin-right: 20px;
}

.info-box-four {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .data-row-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row-four-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 600px) {
  .row-four-box-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.withData {
  padding: 30px 10px;
}
/*# sourceMappingURL=index.css.map */